-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Montserrat:300%7CQuestrial",
		subscribeFormCounter = 0,
		logo = {
			default: { normal: 'logo-default-152x94', retina: 'logo-default-304x188' },
			default2: { normal: 'logo-default-152x65', retina: 'logo-default-304x130' },
			inverse: { normal: 'logo-inverse-152x94', retina: 'logo-inverse-304x188' },
			name: 'DePaletra'
		},
		links = {
			post: 'blog-post.html',
			about: 'about.html',
			project: 'single-project.html',
			getTemplate:'#get-template'
		},
		colors = {
			primary: '#b6c062'
		},
		menu = [
			{
				title: 'Home',
				category: 'home', 
				link: 'index.html'
			},
			{
				title: 'About',
				category: 'about'
			},
			{
				title: 'Single Project',
				category: 'project'
			},
			{
				title: 'Blog post',
				category: 'blog'
			},
			{
				title: 'Privacy Policy',
				category: 'privacy'
			},
			{
				title: 'Contacts',
				category: 'contacts'
			}
		];
